<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:render section="main" arguments="{data: data}" />
<f:section name="main">

<f:if condition="{data.salutation} == 0">
	<f:then>Sehr geehrter Herr {data.lastName},</f:then>
	<f:else>Sehr geehrte Frau {data.lastName},</f:else>
</f:if>

vielen Dank für Ihr Interesse!
Ihr gewünschtes Paket können Sie hier herunterladen: {data.zipFile}
Der Link ist bis zum {ttl} <f:format.date>+ {ttl} day</f:format.date> gültig.

</f:section>
</html>