<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">

<f:form method="post" action="create" name="download" object="{download}" id="dlc">
	<f:for each="{files}" as="file" iteration="iterator">
		<f:comment><f:form.hidden property="files.{iterator.index}" value="{file}" /></f:comment>
		<f:form.hidden name="files[{iterator.index}]" value="{file}" />
	</f:for>
	<f:comment>
	<f:form.hidden property="files.0" value="8" />
	<f:form.hidden property="files.1" value="9" />
	</f:comment>
	<f:form.radio property="salutation" value="0" />
	<f:form.radio property="salutation" value="1" />
	<f:form.textfield property="firstName" />
	<f:form.textfield property="lastName" />
	<f:form.textfield property="company" />
	<f:form.textfield property="email" type="email" />
	<f:form.submit value="Send" />
</f:form>

</f:section>
</html>